
body {
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: white;
  font-size: 20px;
  line-height: 2;
}

.navbar {
  padding:0 0 0rem;
  background-color: white;

}

.navbar-brand {
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color:#b21f66;

}

.nav-item {
  padding: 0 18px;
  color:#b21f66;
}

.nav-link {
  color:#b21f66;
  font-size: 1.2rem;
  font-weight: 700;
}


.flower1 {
  margin: 10% auto 0;
  height:220px;
  width: 500px;
}

.hobbies {
  padding-top: 10px;
}

.proint {
  padding-top: 10px;
}

#hande {
  width: 45%;
  padding-bottom: 10%;
}

.profile {
  width: 25%;
  margin: 50px auto 100px auto;
}

h1 {
  margin: 0 auto 0;
  font-size: 43.2px;
  font-family: 'Sacramento', cursive;
  color:#b21f66;
  padding-bottom: 0;
}

h2 {
  font-family: 'Gotu', sans-serif;
  color:#b21f66;
}

.p {
  margin: 0 auto;
  color:#b21f66;
}

h3 {
  font-family: 'Gotu', sans-serif;
  color:#b52b65;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #cccccc;
  border-width: 5px;
  width: 4%;
  margin: 50px auto;
}

.hobby-row {
  text-align: left;
  width: 50%;
  margin: 50px auto 100px auto;
}

.proint-row {
  text-align: left;
  width: 50%;
  margin: 50px auto 100px auto;
}

.coding {
  width:20%;
  float: right;
  padding-left: 30px;
}

.music {
  width:20%;
  float: left;
  padding-right: 30px;
  border: 0;
}

.top-container {
  background-color: #cccccc;
  position: relative;
  height: 750px;
}

.middle-container {
  padding-top: 30px;
}

.hr {
  margin-bottom:0;
}

.contact-me {
  margin: 100px auto;
  width: 30%;
}

.bottom-container {
  background-color: #cccccc;
  padding: 30px
}

a {
  color:#827397;
  font-family: 'Indie Flower', cursive;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 22px;
}

a:hover {
  color:#4d4c7d;
}

.rights {
  color:#827397;
  margin-top: 30px;
  font-size: 0.75rem;
  padding: 20px 0 5px;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #CCCCCC;
  font-family: 'Gotu', sans-serif;
  font-size: 15px;
  padding: 10px;
  background-color: #B21F66;
  border: solid #CCCCCC 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: outset #B21F66 3px;
  background: #B21F66;
  background-image: -webkit-linear-gradient(top, #B21F66, #CCCCCC);
  background-image: -moz-linear-gradient(top, #B21F66, #CCCCCC);
  background-image: -ms-linear-gradient(top, #B21F66, #CCCCCC);
  background-image: -o-linear-gradient(top, #B21F66, #CCCCCC);
  background-image: linear-gradient(to bottom, #B21F66, #CCCCCC);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
