
body {
  background-color: #931a25;
}




table, td, th {
  text-align: left;
}

table {
  margin-top: 45px;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4d3cf;
  color: #931a25;
  border-radius: 20px;
  font-family: Dancing Script;
  font-size: 25px;
}

th, td {
  padding: 15px;
  text-align: left;
}

a {
  color: #e97171;
}

a:hover {
  color: #931a25;
}
