body {
  font-family: monospace;
}

table, td, th {
  text-align: center;
}

table {
  margin-top: 45px;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4d3cf;
  color: #931a25;
  border-radius: 20px;
  font-family: monospace;
  font-size: 25px;
}

th, td {
  padding: 15px;
}

p {
  font-family: monospace;
  font-size: 16px;
  padding-left: 130px;
  padding-top: 20px;
  display: inline-block;
}

h1 {
  text-align: center;
  color: #931a25;
  padding-top: 15px;
}

a {
  color: #e97171;
  padding-top:15px;
  display: inline-block;
}

a:hover {
  color: #931a25;
}
