body {
  font-family: 'Baloo Tammudu 2', cursive;
  margin: 0;
}

#bullet-point {
  width:2%;
  height: 2%;
}

/* Nav Bar */
#nav-brand {
  text-decoration: none;
  font-size: 26px;
  color: white;
  padding: 15px 20px;
  margin-bottom: 30px;
  display: inline-block;
  float: left;
  font-family: Sacramento;
}

#top-navbar {
  text-align: right;
  background-color: #af8baf;
}

#top-navbar ul {
  list-style-type: none;
  height: 20px;
  display: inline-block;
}

#top-navbar ul li {
  float: left;
  margin-bottom: 30px;
}

#top-navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  transition: 0.2s;
}

#top-navbar ul li a:hover {
  color: white;
  background: #eab0d9;
  text-decoration: none;
}

/* brand */
#brand {
  position: absolute;
  left: 35%;
  bottom: 5%;
  padding-top: 30px;
  font-family: "Sacramento";
  font-size: 70px;
  font-weight: 200;
  color: #693c72;
  text-decoration: none;
}

/*images*/
#logo-img {
  position: absolute;
  right: 35%;
  top: 50%;
  width: 30%;
  transform: rotate(230deg);
  margin-top: 20px;
}

.shop-img {
  display: inline-block;
  width: 40%;
  height: 40%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 15px;
}

/*Containers*/
.top-container {
  position: relative;
  padding-top: 310px;
  margin-bottom: 500px;
}

.bottom-container {
  background-color: #af8baf;
  margin-top: 200px;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.image-container {
  margin-left: 18%;
  padding-top: 20px;
}

/*about us */

.middle-container h1 {
  text-align: center;
  font-family: "Sacramento";
  color: #693c72;
  font-size: 36px;
  padding-bottom: 20px;
}

.middle-container {
  line-height: 40px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-size: 20px;
}

/* footer */
#copyright {
  color: white;
  padding-top: 2%;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: #eab0d9;
}

/*flowers*/
.catalog h1 {
  font-family: "Sacramento";
  color: #693c72;
  font-size: 46px;
  padding-bottom: 5%;
}

.catalog {
  text-align: center;
  padding-top: 5%;
  font-size: 22px;
}

.catalog img {
  display: inline;
}

.catalog p {
  position: absolute;
}

#rose1-p {
  left: 20%;
  top: 100%;
}

#peony-2 {
  padding-left: 15%;
  margin-top: 5%;
  padding-bottom: 5%;
}

#peony-3 {
  padding-right: 15%;
  margin-top: 5%;
  padding-bottom: 5%;
}

#cactus-1 {
  padding-left: 15%;
  padding-right: 15%;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#rose-1, #rose-2, #rose-3, #peony-1, #peony-2, #peony-3, #peony-4, #peony-5, #succulent-1, #succulent-2, #succulent-3 {
  width: 25%;
  height: 25%;
}

/* Wedding */
.wedding h1 {
  font-family: "Sacramento";
  color: #693c72;
  font-size: 46px;
  padding-bottom: 5%;
}

.wedding {
  text-align: center;
  padding-top: 5%;
}

.w-img {
  display: inline-block;
  width: 30%;
  height: 30%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 15px;
}

.wedding-p {
  line-height: 40px;
  width: 50%;
  margin: 30px auto 100px auto;
  text-align: left;
  font-size: 20px;
}

.wedding-p h2 {
  color: #af8baf;
  ;
}

/* contact us */
.form {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
}

input,
textarea {
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  background-color: #af8baf;
}

.submit {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #af8baf;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: 18px;
}

.submit:hover {
  background-color: #eab0d9;
}

.contact h1 {
  font-family: "Sacramento";
  color: #693c72;
  font-size: 46px;
}

.contact {
  text-align: center;
  padding-top: 5%;
}

.contact-p {
  line-height: 40px;
  width: 55%;
  margin: 10px auto 30px auto;
  text-align: left;
  font-size: 20px;
}

/* tips */
#tips-h1 h1 {
  font-family: "Sacramento";
  color: #693c72;
  font-size: 46px;
}

#tips-h1 {
  text-align: center;
  padding-top: 5%;
}

.tips {
  line-height: 40px;
  width: 90%;
  padding-left: 70px;
  text-align: left;
  font-size: 20px;
}

.tips ul {
  list-style-type: none;
}

.tips h2 {
  color: #af8baf;
  padding-left: 40px;
  ;
}

/* @media (max-width:1028px) {

  #title {
    text-align: center;
  }

} */
